*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  margin: 0;
}

.container {
  --max-width: 50rem;
  width: min(100% - 2rem, var(--max-width));
  margin-inline: auto;
}

.semi-transparent-text {
  mix-blend-mode: difference;
}

.hero {
  position: relative;
  isolation: isolate; /* create a new stacking context, when you use negative z-index, it's always good to have one new stacking context */
  padding: 1em; /* to deal with the collapsing margin top in the <h1> */
}

.hero-title-container {
  position: relative;
  margin-block: 3rem;
}

/* Make two set of text overlap with each other*/
.hero-title {
  /* Make it a light black color and mix-blend-mode so it can mix the color */
  /*color: #555;*/
  color: #3a3a3a;
  mix-blend-mode: color-burn;

  line-height: 1.1;
  font-size: 5rem;
  font-weight: 700;
  max-width: 13ch;
  margin: 0; /* to remove the margin in h1 */
}
.hero-title[data-overlay] {
  mix-blend-mode: revert;
  position: absolute;
  left: 0;
  top: 0;

  /* Override and mix-blend-mode for the overlay, push it to the top and have a dark color, give some opacity so the underneath color can come through (the Stripe website did it in reverse order and with 3 layers) */
  color: #111;
  z-index: 2;
  opacity: 0.3;
}

.canvas-container {
  position: absolute;
  z-index: -1; /* put behind the hero */
  inset: 0;
  height: 40vh;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0% 100%);
}

canvas {
  width: 100%;
  height: 100%;
}
