*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

h1 {
  line-height: 1.1;
  font-size: 5rem;
  max-width: 13ch;
}

.container {
  --max-width: 50rem;
  width: min(100% - 2rem, var(--max-width));
  margin-inline: auto;
}
